.App {
  text-align: center;
  font-family:Arial, sans-serif;
  text-align: center;
  padding: 30px;
  background-color: #f0f4f7;
  min-height: 94vh;
  display: flex;
  background-color:rgb(179, 200, 245);
  
}

button{
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  color:white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 10px;
}

.app-container{
  background-color: #ffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin:0 auto 30px auto;
  align-self: center;
}